
@model BloodDonation.Business.DTO.UserDTO

@{
    Layout = "_LayoutUser";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4 class="text-primary" style="margin-top: 120px ; color:black">Donor with the requested email </h4>
        </div>
        <div class="col-6">
        </div>
    </div>
    <br />
  
    <table class="table table-bordered table-striped" style="width: 100% ">
        <thead>

        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
 

        </thead>
        <tbody>
        @using (Html.BeginForm("ManageUser", "Logged", FormMethod.Post))
        {
            <tr>
                <td width="30%">@Model.FirstName</td>
                <td width="30%">@Model.LastName</td>
                <td width="30%">@Model.Email</td>
                <td width="30%">
                    <button type="submit" name="update" value="@Model.Id" class="SubmitFormBtn">Update</button>
                </td>
                <td width="30%">
                    <button type="submit" name="delete" value="@Model.Id" class="SubmitFormBtn">Delete</button>
                </td>


            </tr>
        }
  
        </tbody>
    </table>
</div>
