@using BloodDonation.Business.DTO
@model Tuple<List<BloodTypeDto>, List<CityDTO>, UserDTO>

@{
    Layout = "_LayoutUser";

}


<html>
<head>
    <title>Update Information</title>

    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/fc5ac8f09d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="search-blood-body">

    <section class="search-blood">

        <div class="container">



            @using (Html.BeginForm("UpdatedUserInfo", "Logged", FormMethod.Post))
            {
                <input type="text" id="userId" name="Id" placeholder="Your first name.." value="@Model.Item3.Id" hidden>

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your first name.." value="@Model.Item3.FirstName">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name.." value="@Model.Item3.LastName">

                <label> Blood Type</label>
                <br>
                <select class="bloodtype-selector" id="blood-type" name="bloodType">
                    <option value="@Model.Item3.BloodType.ID">@Model.Item3.BloodType.Name</option>
                    @foreach (var bloodType in Model.Item1)
                    {
                        <option value="@bloodType.ID">@bloodType.Name</option>
                    }
                </select>
                <label>
                    City
                </label>
                <br>
                <select class="City-selector" id="city" name="city">
                    <option value="@Model.Item3.City.ID">@Model.Item3.City.CityName</option>
                    @foreach (var city in Model.Item2)
                    {
                        <option value="@city.ID">@city.CityName</option>
                    }
                </select>
                <br>
                <label> Gender </label>
                <select id="bloodType" name="gender">
                    <option selected="selected">@Model.Item3.Gender</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
                <br>
                <br>
                <label for="age" id="label-age">Date of Birth</label>
                <br>
                <input type="date" min="1910-01-01" max="2003-01-01" id="birth-date" name="birthDate" value="@Model.Item3.DateOfBirth">

                <br>
                <br>
                <label for="phone">Phone Number</label>
                <br>
                <input type="tel" id="phone" name="phone" value="@Model.Item3.Phone" />
                <br>
                <span id="updated-information-message" style="color: #3c97bf">your information updated successfully</span>
                <br>


                <button type="submit" value="submit" class="SubmitFormBtn">Save Changes </button>
                <a asp-area="" asp-controller="Logged" asp-action="UpdateInformation"><button type="button" class="SubmitFormBtn">Cancel</button></a>

            }
            
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/caroufredsel.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#updated-information-message").hide();
      
        if (window.location.hash) {
            var hash = window.location.hash.substring(1);
            if (hash == "1") {
                $("#updated-information-message").show();
            }
        }
    </script>
@* <script src="~/js/site.js"></script> *@
</body>
</html>

